@import "reset.css";

body {
    background-color: #363DC2;
    color: white;
    font-family: 'Syne', sans-serif;
}

.main {
    margin-top: 150px;
    text-align: center;
}

h1 {
    font-size: 70px;
}

p {
    padding-top: 5px;
}

.cards {
    margin-top: 100px;
}

.card {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 200px;
    height: 300px;
    background-color: white;
    border-radius: 10px;
    margin-right: 10px;
    box-shadow: 0px 0px 5px;
}