@import "reset.css";

@media screen and (min-width:320px) and (max-width:768px) {

    body {
        background-color: #000000;
        color:#2E3440;
        font-family: 'Noto Sans KR', sans-serif !important;
    }

    .main {
        margin-left: 30%;
        margin-top: 200px;
    }

    .menu {
        height: 50px;
        width: 100%;
        position: fixed; 
        z-index: 2; 
        top: 0; 
        left: 0;
        background-color: #ECEFF4;
        overflow-x: hidden; 
        padding-top: 15px;
        padding-bottom: 5px;
    }

    .menu a {
        font-size: large;
        color: #2E3440;
        padding-left: 5em;
    }

    .menu img {
        padding-left: 60px;
        vertical-align:middle;
    }

    .side {
        height: 100%;
        width: 250px;
        position: fixed; 
        z-index: 1; 
        top: 50px; 
        left: 0;
        background-color: #E5E9F0;
        overflow-x: hidden; 
        padding-top: 30px;
        padding-left: 2em;
    }

    .side .group {
        font-weight: bolder;
        font-size: small;
        color: #2E3440;
        padding-top: 30px;
    }

    .side p {
        font-size: medium;
        color: #2E3440;
        padding-top: 10px;
    }

    .title {
        font-size: 70px;
    }

    .content {
        padding-top: 10px;
    }

    .card {
        margin-top: 20px;
        margin-right: 20px;
        background-color: #E5E9F0;
        width: 15em;
        height: 20em;
        border-radius: 10px;
        padding-left: 20px;
        padding-right: 20px;
        float: left;
    }

    .card .card-title {
        font-size: larger;
        color: #2E3440;
        padding-top: 20px;
    }

    .card .card-content {
        font-size: medium;
        color: #2E3440;
        padding-top: 10px;
    }

}


body {
    background-color: #D8DEE9;
    color:#2E3440;
    font-family: 'Noto Sans KR', sans-serif !important;
}

.main {
    margin-left: 30%;
    margin-top: 200px;
}

.menu {
    height: 50px;
    width: 100%;
    position: fixed; 
    z-index: 2; 
    top: 0; 
    left: 0;
    background-color: #ECEFF4;
    overflow-x: hidden; 
    padding-top: 15px;
    padding-bottom: 5px;
}

.menu a {
    font-size: large;
    color: #2E3440;
    padding-left: 5em;
}

.menu img {
    padding-left: 60px;
    vertical-align:middle;
}

.side {
    height: 100%;
    width: 250px;
    position: fixed; 
    z-index: 1; 
    top: 50px; 
    left: 0;
    background-color: #E5E9F0;
    overflow-x: hidden; 
    padding-top: 30px;
    padding-left: 2em;
}

.side .group {
    font-weight: bolder;
    font-size: small;
    color: #2E3440;
    padding-top: 30px;
}

.side p {
    font-size: medium;
    color: #2E3440;
    padding-top: 10px;
}

.title {
    font-size: 70px;
}

.content {
    padding-top: 10px;
}

.card {
    margin-top: 20px;
    margin-right: 20px;
    background-color: #E5E9F0;
    width: 15em;
    height: 20em;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    float: left;
}

.card .card-title {
    font-size: larger;
    color: #2E3440;
    padding-top: 20px;
}

.card .card-content {
    font-size: medium;
    color: #2E3440;
    padding-top: 10px;
}
