@import "reset.css";

html {
    --bg-color: #D8DEE9;
    --text-color: #2E3440;
    --menu-color: #ECEFF4;
    --sm-color: #E5E9F0;
    --logo-img: url('../images/logo.png')
}

html.dark {
    --bg-color: #181818;
    --text-color: #D8DEE9;
    --menu-color: #141414;
    --sm-color: #202020;
    --logo-img: url('../images/logo1.png')
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Noto Sans KR', sans-serif !important;
}

.side .group {
    font-weight: bolder;
    font-size: small;
    color: var(--text-color);
    padding-top: 30px;
}

a:link { color: var(--text-color); text-decoration: none; }
a:visited { color: var(--text-color); text-decoration: none; }
a:hover { color: var(--text-color); text-decoration: none; }
a:active { color: var(--text-color); text-decoration: none; }

@media screen and (min-width:320px) and (max-width:768px) {
    .main {
        padding-left: 2em;
        padding-right: 2em;
        margin-top: 80px;
    }

    .menu {
        height: 50px;
        width: 100%;
        position: fixed; 
        z-index: 2; 
        top: 0;
        left: 0;
        background-color: var(--menu-color);
        overflow-y: hidden;
        overflow-x: hidden; 
        padding-top: 5px;
        padding-bottom: 10px;
        
    }

    .menu a {
        font-size: large;
        color: var(--text-color);
        padding-left: 1em;
    }

    .menu img {
        padding-left: 1em;
        vertical-align: middle;
    }

    .side {
        height: 100%;
        width: 0px;
        position: fixed; 
        z-index: 1;
        top: 50px; 
        left: 0;
        background-color: var(--sm-color);
        overflow-x: hidden; 
        padding-top: 30px;
        padding-left: 0em;
    }

    .side p {
        font-size: medium;
        color: var(--text-color);
        padding-top: 10px;
    }

    .title {
        font-size: 70px;
    }

    .content {
        padding-top: 10px;
    }

    .card {
        margin-top: 20px;
        margin-right: 20px;
        background-color: var(--sm-color);
        width: 15em;
        height: 20em;
        border-radius: 10px;
        padding-left: 20px;
        padding-right: 20px;
        float: left;
    }

    .card .card-title {
        font-size: larger;
        color: var(--text-color);
        padding-top: 20px;
    }

    .card .card-content {
        font-size: medium;
        color: var(--text-color);
        padding-top: 10px;
    }

}

@media screen and (min-width:769px) {

    .main {
        margin-left: 30%;
        margin-top: 200px;
    }

    .menu {
        height: 50px;
        width: 100%;
        position: fixed; 
        z-index: 2; 
        top: 0; 
        left: 0;
        background-color: var(--menu-color);
        overflow-y: hidden;
        overflow-x: hidden; 
        padding-bottom: 10px;
    }

    .menu a {
        font-size: large;
        color: var(--text-color);
        padding-left: 5em;
    }

    .menu img {
        padding-left: 2em;
        vertical-align: middle;
    }

    .side {
        height: 100%;
        width: 20%;
        position: fixed; 
        z-index: 1; 
        top: 50px; 
        left: 0;
        background-color: var(--sm-color);
        overflow-x: hidden; 
        padding-top: 30px;
        padding-left: 2em;
    }

    .side p {
        font-size: medium;
        color: var(--text-color);
        padding-top: 10px;
    }

    .title {
        font-size: 70px;
    }

    .content {
        padding-top: 10px;
    }

    .card {
        margin-top: 20px;
        margin-right: 20px;
        background-color: var(--sm-color);
        width: 15em;
        height: 20em;
        border-radius: 10px;
        padding-left: 20px;
        padding-right: 20px;
        float: left;
    }

    .card .card-title {
        font-size: larger;
        color: var(--text-color);
        padding-top: 20px;
    }

    .card .card-content {
        font-size: medium;
        color: var(--text-color);
        padding-top: 10px;
    }
}