@import "reset.css";

body {
    background-color: #363DC2;
    color: white;
    font-family: 'Syne', sans-serif;
}

.main {
    margin-left: 30%;
    margin-top: 200px;
    animation-duration: 2s;
    animation-name: slidein;

}


.title {
    font-size: 70px;
}

.polygon {
    width: 300px;
    height: 300px;
    background: repeating-linear-gradient(red, orange 50px);
    clip-path: polygon(50% 0%, 60% 40%, 100% 50%, 60% 60%, 50% 100%, 40% 60%, 0% 50%, 40% 40%);
    animation: 4s poly infinite alternate ease-in-out;
    margin: 10px auto;
}

@keyframes poly {
    from {
        clip-path: polygon(50% 0%, 60% 40%, 100% 50%, 60% 60%, 50% 100%, 40% 60%, 0% 50%, 40% 40%);
    }

    to {
        clip-path: polygon(50% 30%, 100% 0%, 70% 50%, 100% 100%, 50% 70%, 0% 100%, 30% 50%, 0% 0%);
    }
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 100%
    }

    to {
        margin-left: 30%;
        width: 100%;
    }
}

@keyframes up {
    from {
        margin-bottom: 40%;
    }

    to {
        margin-bottom: 0%;
    }
}